<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="CustomerInquiryCompositeServiceEAR">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="CustomerInquiryCompositeServiceWAR.war" deploy-path="/" handle="module:/resource/CustomerInquiryCompositeServiceWAR/CustomerInquiryCompositeServiceWAR">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context/4.2.2.RELEASE/spring-context-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-aop-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aop/4.2.2.RELEASE/spring-aop-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-beans-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-beans/4.2.2.RELEASE/spring-beans-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-expression-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-expression/4.2.2.RELEASE/spring-expression-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-tx-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-tx/4.2.2.RELEASE/spring-tx-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-webmvc-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-webmvc/4.2.2.RELEASE/spring-webmvc-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-web-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-web/4.2.2.RELEASE/spring-web-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-support-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context-support/4.2.2.RELEASE/spring-context-support-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-core-4.2.2.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-core/4.2.2.RELEASE/spring-core-4.2.2.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.2/commons-logging-1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="customer-search-bo-1.0.3-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/customer-search-bo/1.0.3-SNAPSHOT/customer-search-bo-1.0.3-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="swagger-jaxrs-1.5.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/swagger/swagger-jaxrs/1.5.4/swagger-jaxrs-1.5.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-dataformat-yaml-2.4.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/dataformat/jackson-dataformat-yaml/2.4.5/jackson-dataformat-yaml-2.4.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="snakeyaml-1.12.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/yaml/snakeyaml/1.12/snakeyaml-1.12.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-dataformat-xml-2.4.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/dataformat/jackson-dataformat-xml/2.4.5/jackson-dataformat-xml-2.4.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="swagger-core-1.5.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/swagger/swagger-core/1.5.4/swagger-core-1.5.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang3-3.2.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-lang3/3.2.1/commons-lang3-3.2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-datatype-joda-2.4.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/datatype/jackson-datatype-joda/2.4.5/jackson-datatype-joda-2.4.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="joda-time-2.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/joda-time/joda-time/2.2/joda-time-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="validation-api-1.1.0.Final.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/javax/validation/validation-api/1.1.0.Final/validation-api-1.1.0.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="reflections-0.9.10.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/reflections/reflections/0.9.10/reflections-0.9.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="annotations-2.0.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/google/code/findbugs/annotations/2.0.1/annotations-2.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="customer-search-service-client-1.0.3-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/customer-search-service-client/1.0.3-SNAPSHOT/customer-search-service-client-1.0.3-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-jdbc-4.0.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jdbc/4.0.3.RELEASE/spring-jdbc-4.0.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-log4j12-1.7.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-log4j12/1.7.2/slf4j-log4j12-1.7.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcl-over-slf4j-1.7.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/slf4j/jcl-over-slf4j/1.7.2/jcl-over-slf4j-1.7.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aspectjrt-1.7.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjrt/1.7.4/aspectjrt-1.7.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aspectjweaver-1.7.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjweaver/1.7.4/aspectjweaver-1.7.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-jaxrs-json-provider-2.6.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/jaxrs/jackson-jaxrs-json-provider/2.6.1/jackson-jaxrs-json-provider-2.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-jaxrs-base-2.6.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/jaxrs/jackson-jaxrs-base/2.6.1/jackson-jaxrs-base-2.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-module-jaxb-annotations-2.6.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/module/jackson-module-jaxb-annotations/2.6.1/jackson-module-jaxb-annotations-2.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="endeca-navigation-11.1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/oracle/endeca/endeca-navigation/11.1.0/endeca-navigation-11.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="endeca-logging-11.1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/oracle/endeca/endeca-logging/11.1.0/endeca-logging-11.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.8.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.8.3/commons-beanutils-1.8.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="wink-client-1.2.1-incubating.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/wink/wink-client/1.2.1-incubating/wink-client-1.2.1-incubating.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxb-api-2.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/javax/xml/bind/jaxb-api/2.2/jaxb-api-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="stax-api-1.0-2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/javax/xml/stream/stax-api/1.0-2/stax-api-1.0-2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxb-impl-2.2.1.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/sun/xml/bind/jaxb-impl/2.2.1.1/jaxb-impl-2.2.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="activation-1.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/javax/activation/activation/1.1/activation-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ehcache-2.7.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/net/sf/ehcache/ehcache/2.7.0/ehcache-2.7.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="WASResourcePlaceholder-1.0.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/WASResourcePlaceholder/1.0.0/WASResourcePlaceholder-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-dbcp-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-dbcp/commons-dbcp/1.4/commons-dbcp-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-pool-1.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-pool/commons-pool/1.3/commons-pool-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ojdbc6-11.2.0.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/oracle/ojdbc6/11.2.0.3/ojdbc6-11.2.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-ss-1.0.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/commons-ss/1.0.0/commons-ss-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="MDIServiceCommon-1.3.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/service/MDIServiceCommon/1.3.1/MDIServiceCommon-1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="MDIServiceClient-1.3.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/service/MDIServiceClient/1.3.1/MDIServiceClient-1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="wink-server-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/wink/wink-server/1.4/wink-server-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="geronimo-jaxrs_1.1_spec-1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-jaxrs_1.1_spec/1.0/geronimo-jaxrs_1.1_spec-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang-2.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.3/commons-lang-2.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="wink-common-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/wink/wink-common/1.4/wink-common-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="geronimo-annotation_1.1_spec-1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-annotation_1.1_spec/1.0/geronimo-annotation_1.1_spec-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="wink-spring-support-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/wink/wink-spring-support/1.4/wink-spring-support-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="wink-jackson-provider-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/wink/wink-jackson-provider/1.4/wink-jackson-provider-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-core-asl-1.9.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-core-asl/1.9.4/jackson-core-asl-1.9.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-mapper-asl-1.9.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-mapper-asl/1.9.4/jackson-mapper-asl-1.9.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-xc-1.9.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-xc/1.9.4/jackson-xc-1.9.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.16.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.16/log4j-1.2.16.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="NonInventoryCommon-1.0.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/LeadPath/NonInventoryCommon/1.0.0/NonInventoryCommon-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.7.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.7.5/slf4j-api-1.7.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="logback-classic-1.0.13.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/ch/qos/logback/logback-classic/1.0.13/logback-classic-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="logback-core-1.0.13.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/ch/qos/logback/logback-core/1.0.13/logback-core-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hamcrest-core-1.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javassist-3.18.2-GA.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/javassist/javassist/3.18.2-GA/javassist-3.18.2-GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="objenesis-2.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/objenesis/objenesis/2.1/objenesis-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-databind-2.5.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-databind/2.5.3/jackson-databind-2.5.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-annotations-2.5.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-annotations/2.5.0/jackson-annotations-2.5.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-core-2.5.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-core/2.5.3/jackson-core-2.5.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-httpclient-3.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-httpclient/commons-httpclient/3.1/commons-httpclient-3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.2/commons-codec-1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpclient-4.3.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpclient/4.3.1/httpclient-4.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpcore-4.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpcore/4.3/httpcore-4.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-validator-1.5.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-validator/commons-validator/1.5.0/commons-validator-1.5.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-digester-1.8.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-digester/commons-digester/1.8.1/commons-digester-1.8.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections-3.2.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-collections/commons-collections/3.2.2/commons-collections-3.2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-swagger2-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-swagger2/2.4.0/springfox-swagger2-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="swagger-annotations-1.5.6.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/swagger/swagger-annotations/1.5.6/swagger-annotations-1.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="swagger-models-1.5.6.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/swagger/swagger-models/1.5.6/swagger-models-1.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-spi-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-spi/2.4.0/springfox-spi-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-core-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-core/2.4.0/springfox-core-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-schema-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-schema/2.4.0/springfox-schema-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-swagger-common-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-swagger-common/2.4.0/springfox-swagger-common-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-spring-web-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-spring-web/2.4.0/springfox-spring-web-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="guava-18.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/google/guava/guava/18.0/guava-18.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="classmate-1.3.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/classmate/1.3.1/classmate-1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-plugin-core-1.2.0.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/plugin/spring-plugin-core/1.2.0.RELEASE/spring-plugin-core-1.2.0.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-plugin-metadata-1.2.0.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/plugin/spring-plugin-metadata/1.2.0.RELEASE/spring-plugin-metadata-1.2.0.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="springfox-swagger-ui-2.4.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/io/springfox/springfox-swagger-ui/2.4.0/springfox-swagger-ui-2.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="woodstox-core-5.0.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/fasterxml/woodstox/woodstox-core/5.0.2/woodstox-core-5.0.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="stax2-api-3.1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/woodstox/stax2-api/3.1.4/stax2-api-3.1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DRMSClient-1.2.8.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/DRMSClient/1.2.8/DRMSClient-1.2.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DealerDetailsCommon-1.0.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/mdc/DealerDetailsCommon/1.0.0/DealerDetailsCommon-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="InventorySearchServiceCommon-1.0.12-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/InventorySearchServiceCommon/1.0.12-SNAPSHOT/InventorySearchServiceCommon-1.0.12-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="InventorySearchServiceClient-1.0.12-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/InventorySearchServiceClient/1.0.12-SNAPSHOT/InventorySearchServiceClient-1.0.12-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsr311-api-1.1.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/javax/ws/rs/jsr311-api/1.1.1/jsr311-api-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="LOISCommon-1.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/LOISCommon/1.2/LOISCommon-1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="RepairServiceCommon-1.0.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/rs/RepairServiceCommon/1.0.0/RepairServiceCommon-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxb2-basics-runtime-0.6.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/jvnet/jaxb2_commons/jaxb2-basics-runtime/0.6.5/jaxb2-basics-runtime-0.6.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cars-framework-config-2.2.2-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/framework/cars-framework-config/2.2.2-SNAPSHOT/cars-framework-config-2.2.2-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="seo-url-translate-service-client-0.0.1-SNAPSHOT.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/cars/ss/seo-url-translate-service-client/0.0.1-SNAPSHOT/seo-url-translate-service-client-0.0.1-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-1.3.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-io/1.3.2/commons-io-1.3.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mockito-core-1.10.19.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/mockito/mockito-core/1.10.19/mockito-core-1.10.19.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-jaxrs-1.8.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-jaxrs/1.8.5/jackson-jaxrs-1.8.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="libphonenumber-7.2.8.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/googlecode/libphonenumber/libphonenumber/7.2.8/libphonenumber-7.2.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="component.exclusion.patterns" value="META-INF/ibmconfig/**/*"/>
    </wb-module>
</project-modules>
